.addVideo {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    overflow: auto;

    .left {
        height: 100%;
    }

    .right {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;

        .videoInfoInputs {
            margin: 2%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 5%;
            grid-row-gap: 5%;
            margin-bottom: 5%;

            label {
                font-size: 20px;
                font-family: 'Bahnschrift'; 
                width: 25%;
                color: white;
                margin: 2%;
            }

            input {
                font-size: 20px;
                font-family: 'Bahnschrift'; 
                width: 75%;
                color: black;
                margin: 2%;
                border-radius: 5px;
                border-color: white;
            }
        
            .nameInfo {
                grid-area: 1 / 1 / 2 / 2;
                display: flex;
                justify-content: space-between;
            }

            .categoryInfo {
                grid-area: 1 / 2 / 2 / 3;
                display: flex;
                justify-content: space-between;
                
                .categorySelect {
                    background-color: white;
                    border-radius: 5px;
                    display: inline-block;
                    margin: 2%;
                    width: 75%;
                    font-size: 20px;
                    font-family: 'Bahnschrift'; 
                }
            }
            
            .formatInfo {
                grid-area: 2 / 1 / 3 / 2;
                display: flex;
                justify-content: space-between;
            
                .formatSelect {
                    background-color: white;
                    border-radius: 5px;
                    display: inline-block;
                    margin: 2%;
                    width: 75%;
                    font-size: 20px;
                    font-family: 'Bahnschrift'; 
                }
            }

            .descriptionInfo {
                grid-area: 2 / 2 / 3 / 3;
                display: flex;
                justify-content: space-between;
            }

            .castInfo {
                grid-area: 3 / 1 / 4 / 2;
                display: flex;
                justify-content: space-between;
            }

            .directorInfo {
                grid-area: 3 / 2 / 4 / 3;
                display: flex;
                justify-content: space-between;
            }

            .releaseDateInfo {
                grid-area: 4 / 1 / 5 / 2;
                display: flex;
                justify-content: space-between;
            }

            .durationInfo {
                grid-area: 4 / 2 / 5 / 3;
                display: flex;
                justify-content: space-between;
            }

            .addressInfo {
                grid-area: 5 / 1 / 6 / 2;
                display: flex;
                justify-content: space-between;
            }

            .limitsInfo {
                grid-area: 5 / 2 / 6 / 3;
                display: flex;
                justify-content: space-between;
            }

            .seriesNameInfo {
                grid-area: 6 / 1 / 7 / 2;
                display: flex;
                justify-content: space-between;
            }

            .chapterNumberInfo {
                grid-area: 6 / 2 / 7 / 3;display: flex;
                justify-content: space-between;
            }
        }

        .buttons {
            .addVideoBtn {
                position: absolute;
                right: 5%;
                background-color: black;
                color: white;
                width: 250px;
                height: 50px;
                margin-top: 25px;
                border-radius: 10px;
                border-color: var(--main-color);
                font-size: 20px;
                font-family: 'Bahnschrift'; 
                border-color: black;
            }
        }
    }
}