.myLists {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    overflow: hidden;

    .container {
        width: 100%;
        height: 100%;
        margin-top: 90px;
        margin-left: 10px;
        margin-left: 10px;
        display: flex;
        margin-bottom: 20px;

        .addList {
            width: 400px;
            height: 400px;
            background-color: black;
            border-radius: 10px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            h2 {
                color: white;
                font-family: 'Bahnschrift'; 
                font-size: 20px;
            }

            .centerIcon {
                width: 150px;
                height: 150px;
                color: var(--main-color);
            }
        }
        
        .modal {
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;

            .overlay {
                width: 30%;
                height: 50%;
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10%;
                background: rgba(0, 0, 0, 0.9);
                border-radius: 10px;
                overflow: hidden;

                .modalContent {
                    display: flex;
                    flex-direction: column;

                    .listLabel {
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 7.5%;
                        margin-bottom: 5%;
                        color: var(--main-color);
                        font-family: 'Bahnschrift'; 
                        font-size: 45px;
                    }
                    
                    .listFormInfo {
                        display: flex;
                        flex-direction: column;
                        color: white;
                        margin-top: 5%;

                        label {
                            margin-top: 5%;
                            margin-left: auto;
                            margin-right: auto;
                            font-family: 'Bahnschrift';
                            font-size: 30px;
                        }
    
                        input {
                            margin: 5%;
                            margin-left: auto;
                            margin-right: auto;
                            font-family: 'Bahnschrift';
                            font-size: 20px;
                            border-radius: 5px;
                            border: none;
                            padding: 10px;
                        }

                        button {
                            background-color: var(--main-color);
                            color: white;
                            margin-left: auto;
                            margin-right: auto;
                            border-radius: 5px;
                            border-color: var(--main-color);
                            font-size: 20px;
                            padding: 5px 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
        .bot {
            width: 99%;
            height: 50px;
            background-color: black;
        }
    }
}

body.active-modal {
    overflow-y: hidden;
}